- title "New account"
%h2 Create your Worklista account
.settings
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    = devise_error_messages!
    #left-settings
      .entry
        .property
          Email
        .field
          = f.text_field :email
      .entry
        .property
          Username
        .field
          = f.text_field :username
          %br/
          Your public work list: http://worklista.com/users/USERNAME. Please use only alphabets and numbers. No spaces allowed. 

      .entry
        .property
          Password
        .field
          = f.password_field :password

      .entry
        .property
          Password Confirmation
        .field
          = f.password_field :password_confirmation

      .entry
        .property
        .field
          = raw recaptcha_tag(:challenge)

      .entry
        .property
        .field
          = f.submit "Sign up"
      
= render :partial => "devise/shared/links"
