- title "Users"
- @users.each do |user|
  .profile
    .head
      .photo
        = link_to photo_tag(user, :size => :normal), "/users/#{user.username}"
      .name
        = user.name
      .username
        = link_to user.username, "/users/#{user.username}"
      .twitter
        - unless user.twitter_id.blank?
          = link_to(image_tag("twitter-icon.png"), "http://twitter.com/#{user.twitter_id}")
        = link_to(image_tag("rss-icon.png"), "http://worklista.com/users/#{user.username}.atom")

      .website
        - if user.website
          = link_to user.website, user.website
    .body
      .description
        = user.description
= paginate @users
