- @users.each do |user|
  #profile
    #body
      #name
        = link_to user.username, "/users/#{user.username}"
      #description
        = user.description
        = link_to raw("#{image_tag user.photo.url(:thumb)}"), "/users/#{user.username}"
