- title @user.username
- feed_tag if @select == :recent
.profile
  .head
    .photo
      %a{:href => "#{@user.photo.url(:medium)}"}
        = image_tag @user.photo.url(:thumb)
    .name= @user.name
    .username
      = link_to @user.username, "/users/#{@user.username}"
    .twitter
      - if @user.twitter_id
        = link_to(image_tag("twitter-icon.png"), "http://twitter.com/#{@user.twitter_id}")
    .website
      - if @user.website
        = link_to @user.website, @user.website
  .body
    .description=h @user.description

%hr

#item-tab
  - if user_signed_in? && current_user.id == @user.id
    #url-form
      = form_for([@user, @user.items.build]) do |f|
        URL:
        = f.text_field :url, :size => 60
        = f.submit "Add"
  %ul
    %li{:id => ('selected' if @select == :recent)}
      = link_to 'Recent', user_path(@user.username)
    %li{:id => ('selected' if @select == :popular)}
      = link_to 'Popular', user_popular_path(@user.username)
    %li{:id => ('selected' if @select == :pickup)}
      = link_to 'My Pickup', user_pickup_path(@user.username)

- if @size == 0
  .item
    %p No items

- @items.each do |i|
  .item
    #head
      #title
        %a{:href => i.url, :target => "_blank" }
          = i.title
      #social
        #hatena
          %a{ :href => link_to_hatena(i.url), :target => "_blank" }
            = i.hatena.to_s + " users"
        #retweet
          - b = i.bitly_url ? i.bitly_url : ""
          %a{ :href => b + "+", :target => "_blank" }
            = i.retweet.to_s + "retweets"
      #date= i.published_at
    #body
      #tags
        - if !i.tags.empty?
          - i.tags.each do |tag|
            %a{:href => user_tag_path(:tag => tag.name)}
              = tag.name

      #edit-buttons
        - if user_signed_in? && current_user.id == @user.id
          = button_to "Delete", user_item_path(@user, i), :confirm => "Are you sure?", :method => :delete
          = button_to "Edit", edit_user_item_path(@user, i), :method => :get
          - if i.pick?
            = button_to "Unpick", user_item_path(@user, i, :item => {:pick => false}), :method => :put
          - else
            = button_to "Pick", user_item_path(@user, i, :item => {:pick => true}), :method => :put

= paginate @items

