#profile
  #head
    #photo
      = image_tag @user.photo.url(:thumb)
    #name= @user.name
    #title= @user.title
    #username= @user.username
    #website= @user.website
  #body
    #description=h @user.description

%hr

#item-tab
  %ul
    %li
      = link_to 'Recent', '/me'
    %li
      = link_to 'Popular', '/me/popular'
    %li
      = link_to 'Choice', '/me'
  #url-form
    = form_for([@user, @user.items.build]) do |f|
      URL:
      = f.text_field :url, :size => 60
      = f.submit "Add"

- @items.each do |i|
  #item
    #head
      #title
        %a{:href => i.url}
          = i.title
      #social
        #hatena
          %a{ :href => link_to_hatena(i.url) }
            = i.hatena.to_s + " users"
        #retweet
          - b = i.bitly_url ? i.bitly_url : ""
          %a{ :href => b + "+"}
            = i.retweet.to_s + "retweets"
      #date= i.published_at
    #body
      #description
        =button_to "Delete", "/users/#{@user.id}/items/#{i.id}", :confirm => "Are you sure?", :method => :delete

= will_paginate @items

