#profile
  #head
    #photo
      = image_tag @user.photo.url(:thumb)
    #name= @user.name
    #title= @user.title
    #username= @user.username
    #website= @user.website
  #body
    #description=h @user.description

%hr

#item-tab
  %ul
    %li
      = link_to 'Recent', "/users/#{@user.username}"
    %li
      = link_to 'Popular', "/users/#{@user.username}/popular"
    %li
      = link_to 'My Pickup', "/users/#{@user.username}/pickup"
  - if user_signed_in? && current_user.id == @user.id
    #url-form
      = form_for([@user, @user.items.build]) do |f|
        URL:
        = f.text_field :url, :size => 60
        = f.submit "Add"

- if @items.size == 0
  .item
    %p No items

- @items.each do |i|
  .item
    #head
      #title
        %a{:href => i.url}
          = i.title
      #social
        #hatena
          %a{ :href => link_to_hatena(i.url) }
            = i.hatena.to_s + " users"
        #retweet
          - b = i.bitly_url ? i.bitly_url : ""
          %a{ :href => b + "+"}
            = i.retweet.to_s + "retweets"
      #date= i.published_at
    #body
      #description
        - if user_signed_in? && current_user.id == @user.id
          = button_to "Delete", user_item_path(@user, i), :confirm => "Are you sure?", :method => :delete
          = button_to "Edit", edit_user_item_path(@user, i), :method => :get
          - if i.pick?
            = button_to "Unpick", user_item_path(@user, i, :item => {:pick => false}), :method => :put
          - else
            = button_to "Pick", user_item_path(@user, i, :item => {:pick => true}), :method => :put

= will_paginate @items

