- title @user.username
- feed_tag if @select == :recent
.profile
  .head
    .photo
      %a{:href => "#{@user.photo.url(:medium)}"}
        = image_tag @user.photo.url(:thumb)
    .name= @user.name
    .username
      = link_to @user.username, "/users/#{@user.username}"
    .twitter
      - if @user.twitter_id
        = link_to(image_tag("twitter-icon.png"), "http://twitter.com/#{@user.twitter_id}")
      - if @select == :recent
        = link_to(image_tag("rss-icon.png"), "http://worklista.com/users/#{@user.username}.atom")
    .website
      - if @user.website
        = link_to @user.website, @user.website
  .body
    .description=h @user.description

%hr

- if user_signed_in? && current_user.id == @user.id
  #url-form
    = form_for([@user, @user.items.build], :remote => true, :html => {:'data-type' => "html", :id => "url_form" }) do |f|
      URL:
      = f.text_field :url, :size => 55
      = f.submit "Add"
    #error-message

#item-tab
  %ul
    %li{:class => ('selected' if @select == :recent)}
      = link_to 'Recent', user_path(@user.username)
    %li{:class => ('selected' if @select == :popular)}
      = link_to 'Popular', user_popular_path(@user.username)
    %li{:class => ('selected' if @select == :pickup)}
      = link_to 'Pickup', user_pickup_path(@user.username)

- if @size == 0
  .item
    %p No items

- @items.each do |i|
  =render :partial => "users/item", :locals => {:i => i, :user => @user}

= paginate @items

