%h2 Sign in
.settings
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    #left-settings
      .entry
        .property
          Email or Username
        .field
          = f.text_field :email
      .entry
        .property
          Password
        .field
          = f.password_field :password
      - if devise_mapping.rememberable?
      .entry
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .entry
        .field
          = f.submit "Sign in"
= render :partial => "devise/shared/links"
