- title "All items"
#item-tab
- @items.each do |i|
  .item
    #icon
      %a{:href => "/users/#{i.user.username}"}
        = photo_tag i.user, :size => :small
    .head
      .title
        %a{:href => i.url, :target => "_blank" }
          = truncstr(i.title, 40)
      .social
        = raw(social_buttons({:url => i.url, :title => i.title, :user => i.user}))
      .date= i.published_at
    .body
      .tags
        - if !i.tags.empty?
          - i.tags.each do |tag|
            = link_to tag.name, tag_path(tag.name)
      - if i.summary
        .summary
          = link_to truncstr(i.summary, 100), user_item_path(i.user, i)

= paginate @items
