- title "All items"
%h1 Recent update
#item-tab
- @items.each do |i|
  .item
    #icon
      %a{:href => "/users/#{i.user.username}"}
        = image_tag i.user.photo.url(:thumb), :size => "24x24"
    #head
      #title
        %a{:href => i.url, :target => "_blank" }
          = i.title
      #social
        #hatena
          %a{ :href => link_to_hatena(i.url), :target => "_blank" }
            = i.hatena.to_s + " users"
        #retweet
          - b = i.bitly_url ? i.bitly_url : ""
          %a{ :href => b + "+", :target => "_blank" }
            = i.retweet.to_s + "retweets"
      #date= i.published_at
    #body
      #tags
        - if !i.tags.empty?
          - i.tags.each do |tag|
            = tag.name

      #description
        - if user_signed_in? && current_user.id == @user.id
          = button_to "Delete", user_item_path(@user, i), :confirm => "Are you sure?", :method => :delete
          = button_to "Edit", edit_user_item_path(@user, i), :method => :get
          - if i.pick?
            = button_to "Unpick", user_item_path(@user, i, :item => {:pick => false}), :method => :put
          - else
            = button_to "Pick", user_item_path(@user, i, :item => {:pick => true}), :method => :put

= paginate @items
