- title "All items"
#item-tab
- @items.each do |i|
  .item
    #icon
      %a{:href => "/users/#{i.user.username}"}
        = image_tag i.user.photo.url(:thumb), :size => "24x24"
    #head
      #title
        %a{:href => i.url, :target => "_blank" }
          = i.title
      #social
        #hatena
          %a{ :href => link_to_hatena(i.url), :target => "_blank" }
            = i.hatena.to_s + " users"
        #retweet
          - b = i.bitly_url ? i.bitly_url : ""
          %a{ :href => b + "+", :target => "_blank" }
            = i.retweet.to_s + "retweets"
      #date= i.published_at
    #body
      #tags
        - if !i.tags.empty?
          - i.tags.each do |tag|
            = link_to tag.name, tag_path(tag.name)

= paginate @items
