!!! 5
%html
  
  %head
    %title
      = h(yield(:title) || "Untitled")
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag

    = yield(:head)
  
  %body
    #container
      #logo
        = link_to image_tag('worlis-logo.png'), root_path
        = p current_user.username if user_signed_in?

      #menu-navi
        %ul
          %li
            = link_to 'Home', root_path
          %li
            = link_to 'Users', '/users'
          - if user_signed_in?
            %li
              = link_to 'My Page', "/users/" + current_user.username
            %li
              = link_to 'My Account', edit_user_registration_path
            %li
              = link_to 'Logout', '/logout'
          - else
            %li
              = link_to 'Sign-up', '/signup'
            %li
              = link_to 'Login', '/login'
          %li
            = link_to 'About', '/about'
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      = yield
  #footer &copy; 2010 Worklista This service is currently in private beta.  
