!!! 5
%html
  
  %head
    %title
      = "Worklista - #{yield :title}"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'http://fonts.googleapis.com/css?family=Carter+One'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'jquery-ui'
    = yield :feed
    = javascript_include_tag :defaults
    = csrf_meta_tag
    = yield(:head)
  
  %body
    #container
      #header
        %h1
          - if user_signed_in?
            = link_to 'worklista', "/users/#{current_user.username}"
          - else
            = link_to 'worklista', '/'

        #motto What you publish online is your resume.

        #login
          = raw login_link

      #menu-navi
        %ul
          %li
            = link_to 'About', '/about'
          %li
            = link_to 'Items', '/items'
          %li
            = link_to 'Users', '/users'
          - if user_signed_in?
            %li
              = link_to 'Me', "/users/#{current_user.username}"
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      = yield
  #footer
    &copy; 2010 Worklista. This service is currently in private beta. Contact:
    %a{:href => "http://twitter.com/knsmr"} @knsmr
