!!! 5
%html
  
  %head
    %title
      = "Worklista - #{yield :title}"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = csrf_meta_tag

    = yield(:head)
  
  %body
    #container
      #header
        %h1
          - if user_signed_in?
            = link_to 'worklista', "/users/#{current_user.username}"
          - else
            = link_to 'worklista', '/'

        #login
          - if user_signed_in?
            =  "Hi, #{current_user.username}! | "
            = link_to 'Setting', '/edit'
            =  " | "
            = link_to 'Logout', '/logout'
          - else
            = link_to 'Login', '/login'
            =  " | "
            = link_to 'Sign up', '/signup'

      #menu-navi
        %ul
          %li.button
            = link_to 'About', '/about'
          %li.button
            = link_to 'Items', '/items'
          %li.button
            = link_to 'All Users', '/users'
          - if user_signed_in?
            %li.button
              = link_to 'Me', "/users/#{current_user.username}"
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
      
      = yield
  #footer
    &copy; 2010 Worklista. This service is currently in private beta. Contact:
    %a{:href => "http://twitter.com/knsmr"} @knsmr
